code/matrix_multiplication/scripts/.venv
code/matrix_multiplication/data/matrix_input
code/matrix_multiplication/data/matrix_output
code/matrix_multiplication/matrix_multiplication
code/matrix_multiplication/matrix_multiplication.o

code/sorting/data/array_input
code/sorting/data/array_output
code/sorting/sorting
